In [1]:
# 주요 라이브러리 import
import warnings
warnings.filterwarnings(action='ignore')
import time
from IPython.display import Image
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import *

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import MinMaxScaler

# 디렉토리 및 파일 이름에 맞추어 변경
#font_location = '/Library/Fonts/Arial Unicode.ttf'#윈도우안에있는 폰트파일주소.
# font_location = './NanumGothic.ttf'
#font_name = fm.FontProperties(fname=font_location).get_name()
#rc('font', family=font_name)

In [2]:
df = pd.read_csv('/Users/hi/csv-data/기계마모.csv', encoding = 'utf-8')
df.tail(5)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

In [4]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [5]:
df.drop(['Product ID','UDI','TWF','HDF','PWF','OSF','RNF'], axis=1, inplace=True)

In [6]:
df

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,M,298.1,308.6,1551,42.8,0,0
1,L,298.2,308.7,1408,46.3,3,0
2,L,298.1,308.5,1498,49.4,5,0
3,L,298.2,308.6,1433,39.5,7,0
4,L,298.2,308.7,1408,40.0,9,0
...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0
9996,H,298.9,308.4,1632,31.8,17,0
9997,M,299.0,308.6,1645,33.4,22,0
9998,H,299.0,308.7,1408,48.5,25,0
9999,M,299.0,308.7,1500,40.2,30,0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder = LabelEncoder()
encoder.fit(df['Type'])

LabelEncoder()

In [9]:
tmp = encoder.transform(df['Type'])
tmp

array([2, 1, 1, ..., 2, 0, 2])

In [10]:
t = pd.Series(tmp)
type(t)

pandas.core.series.Series

In [11]:
df.head(5)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,M,298.1,308.6,1551,42.8,0,0
1,L,298.2,308.7,1408,46.3,3,0
2,L,298.1,308.5,1498,49.4,5,0
3,L,298.2,308.6,1433,39.5,7,0
4,L,298.2,308.7,1408,40.0,9,0

In [12]:
df['Type'] = t
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,2,298.1,308.6,1551,42.8,0,0
1,1,298.2,308.7,1408,46.3,3,0
2,1,298.1,308.5,1498,49.4,5,0
3,1,298.2,308.6,1433,39.5,7,0
4,1,298.2,308.7,1408,40.0,9,0

In [13]:
df.head()
df['Type'].value_counts()

1    6000
2    2997
0    1003
Name: Type, dtype: int64

In [14]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,2,298.1,308.6,1551,42.8,0,0
1,1,298.2,308.7,1408,46.3,3,0
2,1,298.1,308.5,1498,49.4,5,0
3,1,298.2,308.6,1433,39.5,7,0
4,1,298.2,308.7,1408,40.0,9,0

In [15]:
X_df = df.iloc[:,:5]
y_df = df.iloc[:,6:]

In [16]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(
    X_df,
    y_df,
    test_size = 0.2, 
    shuffle = True, 
    random_state = 42
)

In [17]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(8000, 5) (8000, 1) (2000, 5) (2000, 1)

In [18]:
type(X_test)

pandas.core.frame.DataFrame

In [19]:
type(y_test)

pandas.core.frame.DataFrame

In [20]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [21]:
rf_clf = RandomForestClassifier(random_state = 11)
lr_clf = LogisticRegression()
knn_clf = KNeighborsClassifier(n_neighbors = 5)
knn_clf2 = KNeighborsClassifier(n_neighbors = 10)
svm_svc = SVC(kernel = 'rbf')
svm_svc2 = SVC(kernel = 'linear')

In [22]:
from sklearn.model_selection import cross_val_score

In [23]:
clf_list = [rf_clf, lr_clf, knn_clf, knn_clf2, svm_svc, svm_svc2]

for clf in clf_list: 
    scores = cross_val_score(clf, X_train, y_train.values.ravel(), cv = 6)
    for iter_count, accuracy in enumerate(scores):
        print('교차 검증 {0} 정확도:{1:.4f}'.format(iter_count, accuracy))
    print('{0}평균 정확도 : {1:4f}\n'.format(clf, np.mean(scores)))

교차 검증 0 정확도:0.9850
교차 검증 1 정확도:0.9790
교차 검증 2 정확도:0.9820
교차 검증 3 정확도:0.9775
교차 검증 4 정확도:0.9767
교차 검증 5 정확도:0.9820
RandomForestClassifier(random_state=11)평균 정확도 : 0.980375

교차 검증 0 정확도:0.9768
교차 검증 1 정확도:0.9700
교차 검증 2 정확도:0.9707
교차 검증 3 정확도:0.9685
교차 검증 4 정확도:0.9670
교차 검증 5 정확도:0.9700
LogisticRegression()평균 정확도 : 0.970499

교차 검증 0 정확도:0.9685
교차 검증 1 정확도:0.9700
교차 검증 2 정확도:0.9670
교차 검증 3 정확도:0.9685
교차 검증 4 정확도:0.9685
교차 검증 5 정확도:0.9722
KNeighborsClassifier()평균 정확도 : 0.969125

교차 검증 0 정확도:0.9700
교차 검증 1 정확도:0.9700
교차 검증 2 정확도:0.9685
교차 검증 3 정확도:0.9700
교차 검증 4 정확도:0.9677
교차 검증 5 정확도:0.9692
KNeighborsClassifier(n_neighbors=10)평균 정확도 : 0.969250

교차 검증 0 정확도:0.9648
교차 검증 1 정확도:0.9648
교차 검증 2 정확도:0.9655
교차 검증 3 정확도:0.9655
교차 검증 4 정확도:0.9655
교차 검증 5 정확도:0.9655
SVC()평균 정확도 : 0.965250

교차 검증 0 정확도:0.9738
교차 검증 1 정확도:0.9700
교차 검증 2 정확도:0.9685
교차 검증 3 정확도:0.9692
교차 검증 4 정확도:0.9692
교차 검증 5 정확도:0.9715
SVC(kernel='linear')평균 정확도 : 0.970375

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
rf_parameters = {
    'max_depth': [3,4,5,6,7,8],
    'n_estimators': [3,4,5,10],
    'random_state': [10,20,40]
}

In [28]:
grid_rf = GridSearchCV(
    estimator = rf_clf, 
    param_grid = rf_parameters, 
    scoring = 'accuracy', 
    cv = 10
)
grid_rf.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=RandomForestClassifier(random_state=11),
             param_grid={'max_depth': [3, 4, 5, 6, 7, 8],
                         'n_estimators': [3, 4, 5, 10],
                         'random_state': [10, 20, 40]},
             scoring='accuracy')

In [29]:
best_rf = grid_rf.best_estimator_ 
print(best_rf)

RandomForestClassifier(max_depth=8, n_estimators=10, random_state=40)

In [30]:
dpredictions = best_rf.predict(X_test)
accuracy = accuracy_score(y_test, dpredictions)
print('테스트셋 rf 정확도 : {0:.4f}'.format(accuracy))

테스트셋 rf 정확도 : 0.9775

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test, dpredictions))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      1939
           1       0.71      0.44      0.55        61

    accuracy                           0.98      2000
   macro avg       0.85      0.72      0.77      2000
weighted avg       0.97      0.98      0.97      2000